*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Arvo', serif;
	font-family: 'Msontserrat', sans-serif;
	background-color: #ffff;
	overflow: hidden;
}

.card-body{
	padding-left: 50px;
	margin-top: 75px;
	position: relative;
	overflow: hidden;
}

.main h1{
	font-family: 'Montserrat', sans-serif;
}

.main h1 span{
	color: #6C63FF ;
	font-family: 'Arvo', serif;
	font-size: 60px;
}

.row p{
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button{
	box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #6C63FF;
  border: 2px solid #6C63FF;
  border-radius: 0.6em;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 0.7em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-left: 0px;
}

.button:hover{
	color: #6C63FF;
	outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #ffff inset;
}

.img{
	position: absolute;
	bottom: -25px;
  	left: 50%;
  	width: 750px;
}

.bulet{
	width: 500px;
	height: 500px;
	background-color: #6C63FF ;
	border-radius: 100%;
	z-index: -1;
	opacity: 15%;
	position: absolute;
	left: 50px;
}

.bulet2{
	width: 500px;
	height: 500px;
	background-color: #6C63FF;
	border-radius: 100%;
	z-index: -1;
	opacity: 15%;
	position: absolute;
	right: -10%;
	bottom: -250px; 
}
