*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Arvo', serif;
	font-family: 'Montserrat', sans-serif;
	background: #f9f9f9;
	/*overflow: hidden;*/
}

.navbar{
	background-color: #6c63ff;
}

.navbar-brand{
	font-family: 'Arvo', serif;
	font-weight: 700; 
}

.navbar-link{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

.judul{
	display: flex;
	justify-content: center;
	align-items: center;
}

.judul p{
	/*position: relative;*/
	top: 80px;
	font-family: 'Arvo', serif;
	font-size: 35px;
	z-index: -1;
	text-align: center;
}

.seperator{
	/*position: absolute;*/
	top: 20%;
	left: 31%;
	width: 485px;
	height: 4px;
	background-color: #843bc7;
	margin: 15px;
	z-index: -1;
}
.minmb{
	margin-bottom: -180px;
}
.row{
	margin-top: 50px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.column{
    width: 50%;
    float:left;
    min-height: 65vh;
    height: auto;
    padding:60px 10px;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}	

.cardd img{
	max-width: 250px;
	margin: 25px 50px 25px 50px;	 
	height: auto; 
	padding-top:10px; 
	border-radius: 10px;
}
.containerep{
	min-height: 75vh;
}
/*.gambar{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: 40%;
}*/
.gambar img{
	max-width: 240px;
	min-width: 150px;
	padding-bottom:10px; 
}

/*.gambar-2 img{
	max-width: 250px;
	float: left;	 
	height: auto; 
	padding-top:10px; 
	border-radius: 10px;
}*/
.collom{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.collom .gambar{
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.collom .gambar img{
	max-width: 90%;
	max-height: 40%;
}
.collom .vm{
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.collom .vm .visi{
	width: 450px;
	min-height: 150px;
}
.collom .vm .misi{
	width: 450px;
	min-height: 300px;
}
.vm h5{
    font-size: 20px;
}
.vm li{
    min-width: 350px; 
    max-width: 450px;
}
h5{
	font-size: 20px;
}
@media screen and (max-width:991px){
	.collom{
		flex-direction: column;
	}
	.gambar{
		width: 100%;
		flex-direction: column-reverse;
	}
}
@media screen and (max-width:600px){
	.judul p {
		font-size: 25px;
	}
.column{
   	width:100%;
    display:block;
    margin-bottom: 20px;
      }
      
  }

  .modal-body{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }
.roww{
	width: 60%;
}
.roww ul li{
	max-width: 100%;
}
.card
  {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      max-width:350px;
      margin:auto;
      background-color:white;
      text-align:center;
      border-radius:40px;
      padding-bottom:15px;
  }

.title{
    color:gray;
    font-size:18px;
}

button{
    border:none;
    padding:8px;
    display: inline-block;
    color:#fff;
    background-color:#6C63FF;
    border: 2px solid #6C63FF;
    cursor:pointer;
    width:70%;
    border-radius:20px;
    font-size:18px;
    text-align:center;  
}
button.first i{
	color: #fff;
}
button:hover{
	color: #6C63FF;
	outline: 0;
}
button:hover i{
	color: #6C63FF;
}
button.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
button.first:hover {
  box-shadow: 0 0 40px 40px #ffff inset;
}

.footer{
	margin-top: 43px;
   	width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #6C63FF;
    color: #fff;
}

.footer p{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-periode{
	margin-top: 15px;
   	width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    background: #6C63FF;
    color: #fff;
}

.footer-periode p{
	display: flex;
	justify-content: center;
	align-items: center;
}
/*.footer{
	margin-top: 15px;
   	width: 100%;
    height: 100px;
    padding-left: 10px;
    line-height: 50px;
    background: #6C63FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
	display: flex;
	justify-content: center;
	align-items: center;
}
*/
/* Modal */
.modal-body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input_vm{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	height: 500px;
}

.gambar{
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gambar img{
 	border-radius: 5%;
}

.modal-footer .btn{
	width: 150px;
}